@model AlwaysLightsOnManagement.ReportedIssue
@{
    ViewData["Title"] = "Home Page";
}



<h1>Mindig Fényes Kft</h1>
<h3>Nálunk mindig ragyog a fény!</h3>
<h5>Valami gond van az Ön közelében a közvilágítással?</h5>
<h5>Jelentse be! És hirtelenjében rohanunk is kijavítani! - hiszen mi nem engedhetjük meg magunknak a sötétséget!</h5>
<h5>Hol nincs fény?</h5>

<!-- MAIN FORM-->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label">Irányítószám</label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Település (kerület), Utca Házszám...</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bejelentem!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    // DISPLAY SUCCESS
    if (ViewBag.SuccessMessage != null)
    {
        <div>
            <h2>@ViewBag.SuccessMessage</h2>
        </div>
    }
    if (Model != null)
    {
        <div>
            <u>Bejelentett helyszín:</u> <b>@Model.ZipCode @Model.Address </b>  <br />
            Műszaki kollégánk hirtelenjében fog rohanni elhárítani, hogy Ön fényben élhessen!
        </div>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}